<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>회사소개</title>
 <style>
        h1 {
            text-align: center;
            color: coral;
        }
        
        h3 {
            text-align: center;
            color: coral;
        }
    
    
        .center {
            text-align: center;
        }
    
    </style>
</head>
<body>

<h1>회 사 소 개</h1>
<h3> 

<br> 글로벌 테크 기업, KD그룹은 기술과 서비스로 세상의 모든 가능성을 연결합니다. <br>

<br> 함께하는 사용자와 비즈니스 파트너들이 다가오는내일을 앞서 구현하고 글로벌 시장에서 <br>
 
<br> 더 큰 성장을 이룰 수 있도록 지원합니다. <br>


<br> KD그룹는 미래를 위한 기술 혁신을 선도하는 글로벌 IT 기업입니다. <br> 

<br>우리는 혁신적인 기술과 열정적인 인재들과 함께, 세계를 변화시키는 트렌드를 선도하고 있습니다.<br>

<br>저희의 핵심 가치는 고객 중심의 혁신과 지속적인 성장입니다. <br>
<br>우리는 항상 고객의 요구를 이해하고, 그에 맞추어 최고의 기술과 서비스를 제공하기 위해 노력합니다.<br>
<br> 또한, 변화하는 시장과 기술 트렌드에 대한 적응력을 바탕으로 끊임없이 성장하고 발전하고 있습니다.<br>

<br>KD그룹의 주요 사업 영역은 인공지능, 빅데이터, 클라우드 컴퓨팅, 사물인터넷 등의 기술 분야입니다. <br>
<br>이를 통해 우리는 다양한 산업 분야에 혁신적인 솔루션을 제공하고 있습니다. <br>
<br>우리의 기술은 비즈니스 프로세스의 효율성을 향상시키고, 비용을 절감하며, 새로운 가치를 창출합니다.<br>

<br>KD그룹는 지속 가능한 미래를 만들어가는 글로벌 IT 기업으로서, 혁신과 기술력으로 새로운 가능성을 계속해서 모색할 것입니다. <br>함께 미래를 만들어가는 여정에 참여해 주시기를 기대합니다.
</h3>
<div class="center">
<a href="main.jsp"> 메인</a>
</div>
</body>
</html>